node_modules
dist
out
.DS_Store
.eslintcache
*.log*
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
build/entitlements.mac.plist
build/icon.icns
build/icon.ico
build/icon.png
dist_electron/*
